<h1>Todo List</h1>
<div ng-repeat="task in data">
    <section class="adding-field">
        <input ng-model="data.task" class="add-task" type="text"/>
        <a href="" ng-click=" editing = !editing">Add</a>
    </section>
    <section class="already-added">
        <input ng-model="task.completed" ng-show="!editing" type="checkbox"/>
        <label class="added-list" ng-show="!editing">{{ data.task }}</label>
        <a href="" ng-show="!editing" class="delete">Delete</a>
    </section>
</div>
{{ home.myHomeCtrlArray }}

{{ home.data }}
